<div id="about">
  <div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Hey <span>its me</span> Aldo Marquez</h1>
      <div id='nav'>
        <ul>
          <li><%= link_to 'Home', page_path('home') %></li>
          <li><%= link_to 'About', page_path('about') %></li>
          <li><%= link_to 'Music', page_path('music') %></li>
          <li><%= link_to 'Sports', page_path('sports') %></li>
        </ul>
      </div>
      <p>Well im just a guy trying to battle capitalism with a keyboard as my gun. I am 22 years old, I am studying and working in this stage of my life 
      at first it was a little scaring entering to the adult life cause you have to say goodbye to some things like 
      the weekday drunk afternoons with your homies or even worst start paying taxes, yeah i know right?, is this the "thug life" everybody talks?.
      </p>
      <p>But leaving that part behind, the most important things to me, its the time when you have to start becoming a "man", how the ancestors used to said, and im talking about all aspects, to me? 
      finding your happiness wherever it is, finding a job which you enjoy it and gives you economic stability, leave the rabbit hole where you grew up
      and for the epic win, never forget your people and enjoy all the little things you can, cause time never play back.</p>
      <img class="img-responsive" id="me" src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/12651292_1547475385567092_3894897803682566707_n.jpg?oh=ad661bf96164d03b5a22457700f7fb37&oe=5982A82C">
    </div>
  </div>
</div>