<div id="home">
  <div class="container-fluid">
    <div class="row" id="landing">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Welcome to <span>Its me</span></h1>
        <p>"Hello friend. Hello friend? That's lame. Maybe I should give you a name..."</p>
        <div id='nav'>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Music</a></li>
            <li><a href="">Sports</a></li>
          </ul>
        </div>
        <img class="img-responsive" id="fsociety" src="http://www.thinkgeek.com/images/products/additional/large/issi_mr_robot_fsociety_tee_dd.jpg">
        <p>Lets code some oldschool design, lets make it simple</p>
      </div>
    </div>
  </div>    
</div>