<div id="music">
  <div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Hey <span>its my</span> Music</h1>
      <div id='nav'>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Music</a></li>
          <li><a href="">Sports</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <iframe width="560" height="300" src="https://www.youtube.com/embed/Qg6BwvDcANg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <iframe width="560" height="300" src="https://www.youtube.com/embed/ZJM4AQSbZDk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <iframe width="100%" height="300" src="https://www.youtube.com/embed/QvluuW4n9qE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>