html, body{ height: 100%;}
#nav{
  ul { 
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-top: 15px;
    height: 50px;
  }
  li { 
    margin: 0 10px;
    display: inline;
  }
  li a {
    color: white;
  }    
}
// Home
  #home{
    background-image: url("https://i.stack.imgur.com/NbO8f.jpg");
    background-size: cover;
    text-align: center;
    height: 100%;
    #nav{ul{background-color: black;}}
    h1, p{
      color: white;
      span{ color: yellow;}
    }
    #fsociety{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        -webkit-transition: padding 1s;
       &:hover{
           padding: 20px;
       }
    }
  }
  #about{
    background-image: url("http://i.imgur.com/IL9nJ3d.png");
    background-size: cover;
    height: 100%;
    text-align: center;
    #nav{ul{background-color: #b71208;}}
    h1, p{
      color: white;
      span{ color: orange;}
    }
    p{
      text-align: justify;
    }
    #me{
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  #music{
    background-image: url("https://camo.githubusercontent.com/0c48ed2b72622c935165c5127cb2cc699f46ea0c/687474703a2f2f692e696d6775722e636f6d2f545572515530316c2e676966");
    background-size: cover;
    height: 100%;
    text-align: center;
    #nav{
      margin-bottom: 15px;
      ul{background-color: #49982a;}
    }
    h1{
      color: white;
      span{ color: green;}
    }
  }
  #sport{
    background-image: url("http://2.bp.blogspot.com/-vDU3rVq6qJ8/T4l3JhQpx1I/AAAAAAAADlc/V-PvKVgeFws/s1600/quabro-ubuntu.png");
    background-size: cover;
    height: 100%;
    text-align: center;
    #nav{
      margin-bottom: 15px;
      ul{background-color: #040468;}
    }
    h1, h2{
      color: white;
      span{ color: blue;}
    }
  }